/* ==== Color ====== */
/* ==== font ==== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Work Sans", sans-serif;
}

button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header nav {
  height: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0);
}
.header nav .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.header nav .logo-wrapper .logo {
  width: 12rem;
}
.header nav .button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.header nav .button-wrapper button.help {
  border-radius: 1rem;
  padding: 1.5rem;
  font-size: 24px;
  color: #fff;
  background-color: #191a1b;
  border: 1px solid #fff;
}
.header nav .button-wrapper button.signin {
  border-radius: 1rem;
  padding: 1.5rem;
  font-size: 24px;
  color: #fff;
  background-color: #4c5fd5;
}