@use "variable" as v;
@use "mixin" as m;

.section1 {
	height: 39rem;
	background-color: v.$color-p-light-blue;

	&--container {
		height: 100%;
		max-width: 72rem;
		display: flex;
		gap: 1.5rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;

		h1 {
			font-size: v.$font-max-1;
			font-weight: v.$font-wt-md;
		}

		input {
			width: 100%;
			padding: 2rem 1.5rem;
			font-size: v.$font-sm-2;
			border-radius: 0.5rem;
			border: 1px solid v.$color-black;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
				rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

			&:hover,
			&:focus,
			&:active {
				border: 1.2px solid v.$color-p-blue;
			}
		}
	}

	&:hover {
		border-bottom: 1px solid v.$color-black; /*Use js to change this later*/
	}
}

.section2 {
	padding: 9rem 0;

	&--con {
		display: grid;
		grid-template-columns: repeat(2, 52rem);
		grid-template-rows: auto auto;
		justify-content: center;
        row-gap: 4.8rem;

		&--container {
			display: flex;
			gap: 1.5rem;
			// max-width: 30rem;

			img {
				width: 8.4rem;
				height: 8.4rem;
			}

			h3 {
				font-size: v.$font-md-1;
				font-weight: v.$font-wt-lg;
			}

			p {
				font-size: v.$font-md-1;
				font-weight: v.$font-wt-md;
			}

            a {
                
                font-size: v.$font-sm-2;
                color: v.$color-p-blue;
                margin-top: 1rem;
                transition: all ease-out .3s;

                &:hover {
                    border-bottom: 1px solid v.$color-p-blue;
                }

                .nested-option {
                    display: flex;
                    flex-direction: column;
                    gap: 200rem;
                }
            }

		}
	}
}

.footer {
    &--container-left {
        display: flex;
        justify-content: center;
        
        &--list {
            display: flex;
            gap: 1.5rem;
            justify-content: center;
            
    }
}
}
