

/* ==== Color ====== */

$color-p-blue: #4c5fd5;
$color-p-light-blue: #dadbf1;
$color-black: #000;
$color-white: #fff;

/* ==== font ==== */

$font-family-select: "Work Sans", sans-serif;
$font-sm-1: 16px;
$font-sm-2: 20px;
$font-md-1: 24px;
$font-max-1: 80px;

/* ==== font weight ==== */
$font-wt-sm: 300;
$font-wt-md: 400;
$font-wt-lg: 500;

/* ==== media queries ===== */

$bp-largest: 73.75em;// 1180px. 1em = 16px;
$bp-large: 65.25em; // 1050px;
$bp-medium: 60.937em; // 975px;
$bp-small: 46.875em; // 750px;
$bp-smaller: 37.5em; // 600px;

/* ==== hamburger props ===== */

$bar-width: 2rem;
$bar-height: .2rem;
$bar-gap: .5rem;
$bar-foreground: #fff;
$bar-background: #000;
$animation-timing: 200ms ease-in-out;
// $hamburger-height: calc($bar-height * 3 + $bar-gap * 2); 

