/* ==== Color ====== */

$color-p-blue: #4c5fd5;
$color-p-light-blue: #dadbf1;
$color-black: #0000;
$color-white: #fff;

/* ==== font ==== */

$font-family-select: "Work Sans", sans-serif;
$font-sm-1: 16px;
$font-sm-2: 20px;
$font-md-1: 24px;
$font-max-1: 80px;
